@charset "UTF-8";

/* Global Reset */
body {
  padding-bottom: 70px;
  text-align: center;
  background-color: lightgrey;
  }
 
footer > nav > div > p {
  color: lightgrey;
  text-align: center;
  margin-top: 1em;
}

#canvas {
    position: absolute;
    top: 100px;
    right: 50px;
    height: 250px;
    width: 300px;
    background: radial-gradient(white, lightgrey);
    border: 1px solid black;
}

a:link {

}
a:visited {

}
a:hover {

}
a:active {

}
